/*p {color : grey; font-family: 'Times New Roman'  ;font-size:large;}
h2{color : grey; font-family: 'Times New Roman'  ;}
h3{color : grey; font-family: 'Times New Roman'  ;}
h4{color : grey; font-family: 'Times New Roman'  ;}*/
#logo { float:left; margin:0 0 0 3.7in; padding: 0 0 0 0;}
#WHS{float:left; color: grey;font-family:'Arial Rounded MT'  ;font-weight:700;font-size:x-large; margin:0 0 0 0;padding:0.35in 0 0 0;}
#clear{clear:both;margin:0 0 0 0;padding:0 0 0 0;}
#loginbox{text-align:center;margin:0.4in 0 0 0;}
#footer{position: absolute; left: 5in; top: 5.9in;}
#stuffpage{text-align:center;}
#CPW{text-align:center;}
#TMS{text-align:center;}
#leader{text-align:center;}
#admin{text-align:center;}
#URC{margin: 0 0 0 5.9in;}
#register{text-align:center;}
#role{text-align:center;}
#tmsheet{margin:0 0 0 5in;}
